* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.start-btn {
  border: none;
  padding: 10px;
  margin-bottom: 30px;
  color: white;
  background-color: #fa2a55;
  font-weight: bold;
}

.submit-btn {
  border: none;
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: #2afacf;
  font-weight: bold;
}

.word-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-container {
  display: flex;
}

.letter-container {
  padding: 10px;
  margin: 5px;
  font-size: large;
  background-color: #dcdcdc;
}

.letter {
  cursor: pointer;
  padding: 20px;
  margin: 5px;
  font-size: large;
  color: black;
  cursor: pointer;
}

.keyboard-container {
  margin-top: 70px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-first-row {
  display: flex;
}

.keyboard-second-row {
  display: flex;
}

.keyboard-third-row {
  display: flex;
}

.key-unclicked {
  padding: 20px;
  margin: 5px;
  font-size: large;
  background-color: black;
  color: white;
  cursor: pointer;
}

.key {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.key-selected {
  padding: 20px;
  margin: 5px;
  font-size: large;
  background-color: #fdb0c0;
  color: white;
  cursor: pointer;
}

.key-included {
  padding: 20px;
  margin: 5px;
  font-size: large;
  background-color: #fa672a;
  color: white;
  cursor: pointer;
}
